body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    background-color: rgb(247, 129, 90);
}
a{
    margin: 10px;
    text-decoration: solid;
    color: rgb(253, 254, 254);

    
}
a:hover{
    display: flex;
    text-decoration: underline;
    text-align: right 10px;
    color: #ffffff;
}
nav{
    display: flex;
    width: 100px;
    height: 60px;
}
ul.header-nav{
    font-size: large;
    position: absolute;
    display: flex;
   top: 8px;
   right: 16px;
}
#image{
    position: absolute;
    top: 4px;
    left: 0px;
    border-radius: 50%;
} 
section{
    display: flex;
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9437d;
    
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.9rem;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.6rem;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.pencil{
    font-size: 2.6rem;
    line-height: 2rem;
}
.pencilpen,
.tablereservation,
.employify,
.origami,
.journey,
.invoicesherpa,
.realtii,
.trizic,
.retrolove,
.textking,
.icanhelp{
    border-top: 1px rgb(85, 27, 69)solid;
    padding: 50px;
    text-align: center;
}
.pencilpen{
    position: relative;
    text-align: center;
    align-items: center;
    background-color: rgb(241, 201, 122);
    padding: 25px 25px 25px; 
}
.pen{
    padding-left: 100px;
}

.tablereservation{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(211, 93, 117);
}
.table{
    padding-left: 100px;
}
.button1 {
    background-color: rgb(185, 42, 83); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button1:hover {
    background-color: #540306;
    color: white;
  }
.employify{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(236, 85, 180);
}
.job{
    padding-left: 100px;
}
.button2 {
    background-color: rgb(207, 38, 131); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button2:hover {
    background-color: #56043d;
    color: white;
  }
.origami{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(98, 230, 126);
}
.web{
    padding-left: 100px;
}

.button3 {
    background-color: rgb(62, 184, 46); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button3:hover {
    background-color: #04561d;
    color: white;
  }
.journey{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(170, 78, 231);
}
.travel{
    padding-left: 100px;
}.button4 {
    background-color: rgb(90, 39, 132); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button4:hover {
    background-color: #2f013f;
    color: white;
  }
.invoicesherpa{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(96, 180, 155);
}
.invoice{
    padding-left: 100px;
}
.button5 {
    background-color: rgb(46, 132, 117); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button5:hover {
    background-color: #044335;
    color: white;
  }
.realtii{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(247, 80, 54);
}
.reality{
    padding-left: 100px;
}.button6 {
    background-color: rgb(177, 63, 57); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button6:hover {
    background-color: #711505;
    color: white;
  }
.trizic{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(230, 85, 169);
}
.design{
    padding-left: 100px;
}
.button7 {
    background-color: rgb(172, 56, 120); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button7:hover {
    background-color: #6b014b;
    color: white;
  }
.retrolove{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(193, 99, 239);
}
.music{
    padding-left: 100px;
}
.button8 {
    background-color: rgb(129, 41, 167); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button8:hover {
    background-color: #320f4a;
    color: white;
  }
.textking{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(223, 207, 103); 
}
.text{
    padding-left: 100px;
}
.button9 {
    background-color: rgb(189, 157, 53); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button9:hover {
    background-color: #785f03;
    color: white;
  }
.icanhelp{
    position: relative;
    display: inline-grid;
    text-align: center;
    line-height: 1.5em;
    align-items: center;
    padding: 25px 45px 50px;
    background-color: rgb(81, 167, 142);
}
.help{
    padding-left: 100px;

}
.button1 {
    background-color: rgb(45, 109, 105); 
    color: rgb(253, 248, 248); 
    width: 250px;
    height: 60px;
    color: rgb(253, 248, 248); 
  }
  
  .button1:hover {
    background-color: #145e49;
    color: white;
  }
.footer{
    max-width: 100%;
    background-color: #e04674;
    margin: 1rem auto;
    overflow: auto;
}
.footer a{
    color: #f0f4f3;
    font-size: 0.9rem;
    align-self: safe;
    font-size: large;
    justify-items: space;
   position: absolute;
   display: flex;
   float: right;
}
.footer p{
    color: #f0f4f3;
    margin-bottom: 2.5rem;
    display: inline-block
}
/*
.tablereservation{
    font-size: 2.6rem;
    line-height: 2rem;
             
}
.table{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.employif{
    font-size: 2.6rem;
    line-height: 2rem;
}
.joy{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.origami{
    font-size: 2.6rem;
    line-height: 2rem;
}
.web{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.journey{
    font-size: 2.6rem;
    line-height: 2rem;
}
.travel{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.invoicesherpa{
    font-size: 2.6rem;
    line-height: 2rem;
}
.invoice{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.realtii{
    font-size: 2.6rem;
    line-height: 2rem;
}
.reality{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.trizic{
    font-size: 2.6rem;
    line-height: 2rem;
}
.design{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.retrolove{
    font-size: 2.6rem;
    line-height: 2rem;
}
.music{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
.textking{
    font-size: 2.6rem;
    line-height: 2rem;
}.text{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}

.icanhelp{
    font-size: 2.6rem;
    line-height: 2rem;
}
.help{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
}
*/

/*.button {background-color: #b249e7;}
.button {
    border: none;
    padding: 20px 35px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.10s;
    cursor: pointer;
}
.button1 {
    background-color: rgb(102, 18, 132); 
    color: rgb(253, 248, 248); 
  }
  
  .button1:hover {
    background-color: #67126a;
    color: white;
  }

  */
