body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    background-color: rgb(129, 3, 129);
    
    
}
a{
    margin: 10px;
    text-decoration: solid;
    color: rgb(253, 254, 254);

    
}
a:hover{
    display: flex;
    text-decoration: underline;
    text-align: right 10px;
    color: #ffffff;
}


    /*width: 100px;
    height: 60px;
*/

nav{
    display: flex;
    width: 100px;
    height: 60px;
}

ul.header-nav{
   font-size: large;
   position: absolute;
   display: flex;
  top: 8px;
  right: 16px;
  
}
#header-nav1{
    position: absolute;
    top: 4px;
    left: 0px;
    border-radius: 50%;
    
}
section{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.9rem;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.0rem;
}
.style-cards h4{
    font-size: 2.6rem;
    line-height: 2rem;
}
.card-1,
.card-2,
.card-3,
.card-4{
    border-top: 8px rgb(132, 44, 141)solid;
    padding: 50px;
    text-align: center;
    background-color: rgb(249, 252, 254);
    

}
.card-1{
    position: relative;
    text-align: center;
    align-items: center;
    padding: 25px 25px 25px; 
    

}
.desc-1{
    padding-left: 100px;
    
}
.card-2{
    position: relative;
    display: inline-grid;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-2{
    padding-left: 100px;
}
img { 
    padding: 80px; 
    margin: 50px; 
} 
.style-cards h2{
    font-size: 2.5rem;
    padding: 1rem;
    padding-left: 0;
}
.style-cards h4{
    font-size: 1.2rem;
    line-height: 2rem;
}
.card-1 img{
    align-items: center;
    width: 150px;
    height: 100px;
}
.card-3{
    position: relative;
    text-align: center;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-3{
    padding-left: 100px;
}

.card-2 img{
    align-items: left;
    justify-content: 1px dotted black;
}.card-3 img{
    align-items: right;
}

.button {
    border: none;
    background-color: #b249e7;
    padding: 20px 35px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.10s;
    cursor: pointer;
}
.button1 {
    background-color: rgb(102, 18, 132); 
    color: rgb(253, 248, 248); 
  }
  
  .button1:hover {
    background-color: #67126a;
    color: white;
  }
.footer{
    max-width: 100%;
    background-color: #842c87;
    margin: 1rem auto;
    overflow: auto;
}
.footer a{
    color: #f0f4f3;
    font-size: 0.9rem;
    align-self: safe;
    font-size: large;
    justify-items: space;
   position: absolute;
   display: flex;
   float: right;
}
.footer p{
    color: #f0f4f3;
    margin-bottom: 2.5rem;
    display: inline-block
}


/*{
    text-align: center;

    
}*/

